In [2]:
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.metrics import accuracy_score

In [4]:
# Import the data
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
for fea in [ 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Cabin', 'Embarked']:
    print("feature:%s" % fea)
    print(train[fea].value_counts(dropna=False))
    print()

feature:Pclass
3    491
1    216
2    184
Name: Pclass, dtype: int64

feature:Sex
male      577
female    314
Name: Sex, dtype: int64

feature:Age
NaN       177
 24.00     30
 22.00     27
 18.00     26
 28.00     25
 19.00     25
 30.00     25
 21.00     24
 25.00     23
 36.00     22
 29.00     20
 32.00     18
 26.00     18
 35.00     18
 27.00     18
 16.00     17
 31.00     17
 34.00     15
 23.00     15
 33.00     15
 20.00     15
 39.00     14
 17.00     13
 42.00     13
 40.00     13
 45.00     12
 38.00     11
 50.00     10
 2.00      10
 4.00      10
         ...
 28.50      2
 63.00      2
 0.83       2
 30.50      2
 70.00      2
 57.00      2
 0.75       2
 13.00      2
 59.00      2
 10.00      2
 64.00      2
 40.50      2
 45.50      2
 32.50      2
 20.50      1
 24.50      1
 0.67       1
 70.50      1
 0.92       1
 74.00      1
 34.50      1
 14.50      1
 80.00      1
 12.00      1
 53.00      1
 36.50      1
 55.50      1
 66.00      1
 23.50      1
 0.42       1
Name: Age, Length: 89, dtype: int64

feature:SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

feature:Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

feature:Fare
8.0500      43
13.0000     42
7.8958      38
7.7500      34
26.0000     31
10.5000     24
7.9250      18
7.7750      16
26.5500     15
0.0000      15
7.2292      15
7.8542      13
8.6625      13
7.2500      13
7.2250      12
16.1000      9
9.5000       9
24.1500      8
15.5000      8
56.4958      7
52.0000      7
14.5000      7
14.4542      7
69.5500      7
7.0500       7
31.2750      7
46.9000      6
30.0000      6
7.7958       6
39.6875      6
            ..
7.1417       1
42.4000      1
211.5000     1
12.2750      1
61.1750      1
8.4333       1
51.4792      1
7.8875       1
8.6833       1
7.5208       1
34.6542      1
28.7125      1
25.5875      1
7.7292       1
12.2875      1
8.6542       1
8.7125       1
61.3792      1
6.9500       1
9.8417       1
8.3000       1
13.7917      1
9.4750       1
13.4167      1
26.3875      1
8.4583       1
9.8375       1
8.3625       1
14.1083      1
17.4000      1
Name: Fare, Length: 248, dtype: int64

feature:Cabin
NaN                687
B96 B98              4
G6                   4
C23 C25 C27          4
F2                   3
D                    3
C22 C26              3
E101                 3
F33                  3
C126                 2
E24                  2
C2                   2
B49                  2
E121                 2
B58 B60              2
B22                  2
B18                  2
C92                  2
D35                  2
E33                  2
E44                  2
B77                  2
C65                  2
D20                  2
C78                  2
D33                  2
C83                  2
B57 B59 B63 B66      2
F4                   2
D36                  2
                  ...
C104                 1
E34                  1
F38                  1
A23                  1
A19                  1
B3                   1
C85                  1
D30                  1
D11                  1
C103                 1
D7                   1
B41                  1
F G63                1
D6                   1
E38                  1
D46                  1
D19                  1
C54                  1
B78                  1
E46                  1
C7                   1
C128                 1
C87                  1
B80                  1
D56                  1
B71                  1
C62 C64              1
B39                  1
A5                   1
D15                  1
Name: Cabin, Length: 148, dtype: int64

feature:Embarked
S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [16]:
# delete   'Name', 'Ticket', 'Cabin '
train = train.drop(['Name', 'Cabin', 'Ticket']1, inplace-True)

SyntaxError: positional argument follows keyword argument (<ipython-input-16-7fd0bdaba0a0>, line 2)